.section {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  height: 660px;
  background-color: transparent;
}

.section-2 {
  background-color: #213a88;
}

.container {
  height: 600px;
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
}

.text-block {
  margin-top: 118px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 41px;
  font-weight: 700;
  text-align: center;
}

.div-block {
  height: 90px;
  margin-top: 25px;
  background-image: url('../images/ECO-LOGO-COMPLETO.png');
  background-position: 50% 0%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container-2 {
  padding-right: 5%;
  padding-left: 5%;
}

.div-block-2 {
  background-color: #0082d0;
}

.div-block-3 {
  background-color: #0082d0;
}

.section-3 {
  position: -webkit-sticky;
  position: sticky;
  height: 82px;
  margin-top: 0px;
  background-color: #213a88;
}

.container-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 71px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url('../images/menuatras.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  line-height: 20px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: auto;
  background-color: transparent;
}

.nav-link {
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
  text-align: center;
}

.nav-link-2 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

.nav-link-3 {
  width: 140px;
  height: 48px;
  margin-top: 8px;
  padding-right: 21px;
  padding-left: 67px;
  background-image: url('../images/Icono-loho.png');
  background-position: 35% 33%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 700;
}

.nav-link-4 {
  margin-left: -24px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
}

.nav-link-5 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
}

.section-4 {
  height: 810px;
  background-image: url('../images/Nuestra-historia.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-4 {
  height: 800px;
}

.div-block-4 {
  height: 800px;
}

.column {
  height: 800px;
  padding-left: 40px;
}

.text-block-2 {
  margin-top: 247px;
  margin-right: -119px;
  margin-left: 23px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #213a88;
  font-size: 13px;
  line-height: 17px;
}

.section-5 {
  height: 287px;
  background-color: #183b8e;
  background-image: url('../images/Nuestros-servicios-19.svg');
  background-position: 50% 34%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-6 {
  height: 950px;
  background-image: url('../images/Nuestros-servicios-20.svg');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container-5 {
  height: 740px;
}

.column-2 {
  height: 740px;
  padding-left: 14%;
}

.text-block-3 {
  margin-top: 330px;
  margin-right: -74px;
  font-family: 'Open Sans', sans-serif;
  color: #213a88;
  font-size: 13px;
}

.section-7 {
  height: 643px;
}

.container-6 {
  height: 643px;
}

.column-3 {
  height: 643px;
}

.column-4 {
  height: 643px;
  padding-top: 78px;
}

.div-block-5 {
  width: 630px;
  height: 643px;
  margin-left: -139px;
  background-image: url('../images/imagenservicios.png');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-6 {
  height: 130px;
  background-image: url('../images/nuestrosserviciostitulo.png');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-7 {
  width: 420px;
  margin-top: 26px;
  font-family: 'Open Sans', sans-serif;
  color: #213a88;
  font-size: 13px;
}

.section-8 {
  height: 900px;
  margin-top: 71px;
  background-image: url('../images/residuos-27.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-9 {
  height: 310px;
  background-color: #213a88;
  background-image: url('../images/asesorias-13.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-10 {
  height: 950px;
}

.div-block-8 {
  height: 900px;
  margin-top: 33px;
  background-image: url('../images/certificadomodificado-01-01.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-11 {
  height: 310px;
  background-image: url('../images/politica-integrada-18.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-12 {
  height: 750px;
  background-image: url('../images/Proyectos-18.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section-13 {
  height: 730px;
  background-image: url('../images/final-21.svg');
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.container-7 {
  height: 730px;
}

.column-5 {
  height: 730px;
}

.column-6 {
  height: 730px;
}

.div-block-9 {
  height: 730px;
  margin-left: -60px;
  padding-top: 121px;
  padding-right: 121px;
}

.textarea {
  height: 178px;
  border: 1px none #000;
  border-radius: 10px;
  background-color: #dadbe1;
  font-size: 12px;
}

.submit-button {
  width: 140px;
  border-radius: 10px;
  background-color: #fbd821;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.text-field {
  border: 1px none #000;
  border-radius: 10px;
  background-color: #dadbe1;
  font-size: 12px;
}

.text-field-2 {
  border: 1px none #000;
  border-radius: 10px;
  background-color: #dadbe1;
  font-size: 12px;
}

.text-field-3 {
  border: 1px none #000;
  border-radius: 10px;
  background-color: #dadbe1;
  font-size: 12px;
}

.text-field-4 {
  border: 1px none #000;
  border-radius: 10px;
  background-color: #dadbe1;
  font-size: 12px;
}

.text-block-4 {
  margin-top: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #213a88;
  font-size: 12px;
}

.text-block-5 {
  margin-bottom: 9px;
  font-family: 'Open Sans', sans-serif;
  color: #213a88;
  font-size: 36px;
  font-weight: 700;
}

.navbar-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  background-image: url('../images/menuatras.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 9px;
  font-weight: 700;
}

.nav-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.nav-link-6 {
  color: #fff;
  line-height: 12px;
  text-align: center;
}

.nav-link-6:hover {
  color: #92d880;
}

.nav-link-6.w--current {
  color: #00c98d;
}

.nav-link-7 {
  color: #fff;
}

.nav-link-7:hover {
  color: #8cd07b;
}

.nav-link-8 {
  color: #fff;
}

.nav-link-9 {
  padding-left: 0px;
  color: #fff;
}

.nav-link-9:hover {
  color: #92d880;
}

.nav-link-9.w--current {
  color: #00c98d;
}

.nav-link-10 {
  color: #fff;
}

.nav-link-10:hover {
  color: #92d880;
}

.nav-link-10.w--current {
  color: #00c98d;
}

.body {
  background-image: url('../images/home-bg.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 479px) {
  .section {
    height: 574px;
    background-image: url('../images/home-bg-mobile.png');
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .text-block {
    margin-top: 71px;
    font-size: 20px;
    line-height: 26px;
  }

  .div-block {
    margin-top: 18px;
  }

  .container-3 {
    display: inline;
  }

  .nav-link-3 {
    height: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .section-4 {
    height: 629px;
    background-image: url('../images/Nuestra-historia-mobile.png');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container-4 {
    height: 515px;
  }

  .div-block-4 {
    height: 515px;
  }

  .column {
    height: 515px;
    padding-right: 10%;
    padding-left: 10%;
  }

  .text-block-2 {
    margin-top: 224px;
    margin-right: 0%;
    margin-left: 0%;
    font-size: 10px;
  }

  .section-5 {
    height: 263px;
    background-image: url('../images/nuestros-servicios-mobile.png');
    background-position: 48% 39%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-6 {
    height: 1040px;
    background-image: url('../images/Nuestros-servicios.png');
    background-position: 0% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .column-2 {
    padding-right: 10%;
    padding-left: 10%;
  }

  .text-block-3 {
    margin-top: 513px;
    margin-right: 0px;
    font-size: 10px;
  }

  .column-3 {
    height: 290px;
  }

  .column-4 {
    height: 630px;
    padding-right: 10%;
    padding-left: 10%;
  }

  .div-block-5 {
    width: auto;
    height: 310px;
    margin-left: auto;
    background-position: 50% 50%;
    background-size: cover;
  }

  .div-block-7 {
    width: auto;
    font-size: 11px;
  }

  .section-8 {
    height: 1400px;
    margin-top: 253px;
    background-image: url('../images/residuos-28.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .section-9 {
    height: 450px;
    background-color: #183b8e;
    background-image: url('../images/ASESORIAS-30.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .section-10 {
    height: 940px;
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-block-8 {
    background-image: url('../images/certificado-32-01.svg');
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .section-11 {
    height: 460px;
    background-color: #183b8e;
    background-image: url('../images/politica-integrada-33.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .section-12 {
    height: 570px;
    background-image: url('../images/proyectos-34.svg');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .section-13 {
    height: 630px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .container-7 {
    height: 610px;
  }

  .column-5 {
    height: 30px;
  }

  .column-6 {
    height: 650px;
  }

  .div-block-9 {
    height: 560px;
    margin-left: 18px;
    padding-right: 13px;
  }

  .navbar-2 {
    display: inline;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
  }

  .nav-link-6 {
    line-height: 14px;
  }

  .nav-link-7 {
    text-align: center;
  }

  .nav-link-9 {
    padding-left: 20px;
    text-align: center;
  }

  .nav-link-10 {
    text-align: center;
  }

  .menu-button {
    width: 90px;
    height: 80px;
    font-size: 48px;
    text-align: center;
  }

  .menu-button.w--open {
    background-color: #05c490;
  }

  .nav-menu-2 {
    background-color: #05c490;
    font-size: 12px;
    line-height: 22px;
  }
}